$header-background-color: #e9ecef;

.header {
  height: 150px;
  width: 100%;
  background-color: $header-background-color;
  border-radius: 1rem;
  display: flex;
}

.header > h1 {
  margin: 0;
}

.main-row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-content: center;
}

.main-col {
  justify-content: center;
  display: flex;
}
